doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title ncuapp OAuth
  body
    h1 This is simple ncuapp OAuth.
    a(target='_blank' href='http://localhost:3030/oauth/login?client_id=7C_hviGOa4gCgRjv6XqBcIfnakUUgMkB&scope=sint asperiores ratione consequatur nemo earum qui nulla soluta consectetur eum nulla in officia nemo rerum aut repellat est voluptatem ullam voluptatibus molestias vel repudiandae et nihil deleniti sit modi tenetur consequatur esse qui omnis ex facere at explicabo incidunt rerum non quo dolores aut dolor amet et sunt animi&grant_type=authorization_code&response_type=code&redirect_uri=localhost:3030/oauth/test')
      button ncuapp client example login